<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{product-list.css}" rel="stylesheet">
<title>Product List</title>
</head>
<body>
	<h1>在庫管理</h1>
	<table class="list_table_layout">
		<tr>
			<th class="id">ID</th>
			<th class="name">品名</th>
			<th class="num">数量</th>
			<th class="price">金額</th>
		</tr>
		<tr th:each="product : ${products}">
		<td th:text="${product.id}"></td>
		<td th:text="${product.name}"></td>
		<td th:text="${product.quantity}"></td>
		<td th:text="${product.price}"></td>
		<td>
			<a th:href="@{/products/delete/{id}(id=${product.id})}">削除</a>
		</td>
		</tr>
	</table>
	<a href="/products/add">追加</a>
</body>
</html>