<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product List</title>
</head>
<body>
	<h1>在庫管理</h1>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>品名</th>
			<th>数量</th>
			<th>金額</th>
		</tr>
		<tr th:each="product : ${products}">
		<td th:text="${product.id}"></td>
		<td th:text="${product.name}"></td>
		<td th:text="${product.quantity}"></td>
		<td th:text="${product.price}"></td>
		<td>
			<a th:href="@{/products/delete/{id}(id=${product.id})}">削除</a>
		</td>
		</tr>
	</table>
	<a href="/products/add">追加</a>
</body>
</html>